.DS_Store

iahx/logs/*.txt
iahx-sites/scieloorg/logs/
node_modules
vendor-modern

solr/8.5.1/cores/solrdata/data/articles/data
solr/8.5.1/cores/solrdata/logs
solr/9.10.1/cores/solrdata/logs/*
!solr/9.10.1/cores/solrdata/logs/.gitkeep
