#form_clusters div ul, ul.list-unstyled{
    list-style-type: none;
    padding-left: 0px;
    margin: 0 0 15px;
}

ul.list-inline li{
    display: inline-block;
}

.filterItem a {
    color: #403d39;
}

.filterBody .filterItem {
    line-height: 12px;
}

.item .authors A{
    color: #000;
}

.searchForm .resultBlock .collapseBlock .content {
    max-height: none;
}

.st_email_custom {
    display: inline-block;
    text-align: left;
    text-indent: -5000px;
    width: 20px;
    height: 17px;
    margin: 0 3px -4px;
    background: url(../image/button.glyphs.png) -15px -555px no-repeat;
}

.configsText{
    position: absolute;
    top: 7px;
    right: 0;
    width: auto;
    height: 25px;
}

.modal.large .modal-dialog{
    width: 80%;
}

.cluster-actions-menu{
    width: 70%;
    float: left;
}
.cluster-actions-menu ul{
    margin: 0px;
}
.cluster-actions-menu li{
    float: left;
    margin-right: 20px;
}
.searchForm .selectBox.index {
    width: 26% !important;
}
.searchForm .normalizeButton {
    padding-top: 3px;
    white-space: nowrap;
}
.altmetric-embed{
    float: right;
    margin-right: 30px;
}
.author:hover{
    border-bottom: 1px dotted #6789d3;
}
.abstract{
    margin: 5px 0 10px 10px;
}
/* affix que fixa o sidebar */
.affix, .affix-top {
    width: 285px;
    margin: 0;
    padding: 0;
    z-index: 99;
}
.affix {
    top: 0;
    background: #fff;
    position: fixed;
    border-bottom: 2px solid #ccc !important;
    margin: 0 0 0 -10px;
}
.affix-top button {
    margin: 5px 2px;
}
.affix button {
    margin: 6px 2px 6px 10px;
}
.modalMetrics .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #f5f3f1;
    min-height: 16.43px;
    border-radius: 4px;
}

.modalMetrics .modal-header h4{
    font-size: 14px;
    text-align: left;
}
.modalMetrics .title-metrics{
    font-size: 14px;
}

.modalMetrics .modal-header .modal-title {
    text-transform: uppercase;
}
.modalMetrics .__dimensions_badge_embed__{
    text-align: center !important;
}
.modalMetrics .PlumX-Popup .ppp-container.ppp-large {
    position: relative !important; 
    display: inline !important; 
    width: 120px !important; 
    height: 120px !important; 
}
.modalMetrics{
    text-align: center;
}
.modal #subtitle{
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    line-height: 35px;
    padding: 0 3px 0 10px;
    background: url(../image/dashline.png) bottom left repeat-x;
}
.modalFilter{
    padding-top:10px;
    padding-left: 10px;
}
.left-border{
    border-left: 1px #b5c4e5 solid  !important;
    border-radius: 5px !important;
}
.logic{
    padding-right:12px;
}