#form_clusters div ul, ul.list-unstyled{
    list-style-type: none;
    padding-left: 0px;
}

ul.list-inline li{
    display: inline-block;
}

.filterItem a {
    color: #403d39;
}

.filterBody .filterItem {
    line-height: 12px;
}

.item .authors A{
    color: #000;
}

.searchForm .resultBlock .collapseBlock .content {
    max-height: none;
}

.st_email_custom {
    display: inline-block;
    text-align: left;
    text-indent: -5000px;
    width: 20px;
    height: 17px;
    margin: 0 3px -4px;
    background: url(../image/button.glyphs.png) -15px -555px no-repeat;
}

.configsText{
    position: absolute;
    top: 7px;
    right: 0;
    width: auto;
    height: 25px;
}

.modal.large .modal-dialog{
    width: 80%;
}

.cluster-actions-menu{
    width: 70%;
    float: left;
}
.cluster-actions-menu ul{
    margin: 0px;
}
.cluster-actions-menu li{
    float: left;
    margin-right: 20px;
}
.searchForm .selectBox.index {
    width: 26% !important;
}
.searchForm .normalizeButton {
    padding-top: 3px;
    white-space: nowrap;
}
.author:hover{
    border-bottom: 1px dotted #6789d3;
}
