#form_clusters div ul, ul.list-unstyled{
    list-style-type: none;
    padding-left: 0px;
}

ul.list-inline li{
    display: inline-block;
}

.filterItem a {
    color: #403d39;
}

.filterBody .filterItem {
    line-height: 12px;
}

.item .authors A{
    color: #000;
}

.searchForm .resultBlock .collapseBlock .content {
    max-height: none;
}
