<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml">
    <head>{% block head %}

        <meta charset="utf-8">
        <title>{% block title %}{{ texts.SEARCH_HOME }} | {{ texts.BVS_TITLE }}{% endblock %}</title>

        <!-- meta-tags -->
        <meta http-equiv="Expires" content="-1">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="{{ lang }}">
        <meta name="robots" content="all">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

        <meta http-equiv="keywords" content="{{ texts.KEYWORDS }}">
        <meta http-equiv="description" content="{{ texts.DESCRIPTION }} ">

        <!-- css -->
        <link rel="stylesheet" href="{{ constant("STATIC_URL") }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ constant("STATIC_URL") }}css/scielo-portal.css">
        <link rel="stylesheet" href="{{ constant("STATIC_URL") }}css/scielo-print.css" media="print">


        <!-- Page icon -->
        <link rel="shortcut icon" href="{{ constant("STATIC_URL") }}image/favicon.ico">

        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="index.php?output=rss&amp;site=bvsms&amp;col=main&amp;lang=pt&amp;sort=da+desc">

        <script language="javascript" type="text/javascript">
            var SEARCH_URL = '{{ constant("SEARCH_URL") }}';
            var STATIC_URL = '{{ constant("STATIC_URL") }}';
        </script>

        {% if config.google_analytics_tracking_id != '' %}
            <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', '{{ config.google_analytics_tracking_id }}']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>
        {% endif %}

        {% block extrahead %}{% endblock %}

        <noscript>Your browser doesn't support javascript.</noscript>
    {% endblock %}</head>

    <body {% block onload %}onload="document.searchForm.reset()"{% endblock %}>{% block body %}
        <form name="language"><input type="hidden" name="lang" value="{{ lang }}"></form>
        <header>
            {% block top %}
                {% include custom_template("top.html") %}
            {% endblock %}
        </header>

        <section>
            {% block container %}
            <div class="content">
                {% block content %}
                        {% block breadcrumb %}{% include custom_template("top-breadcrumb.html") %}{% endblock %}
                        {% block searchbar %}{% include custom_template("top-searchbar.html") %}{% endblock %}
                {% endblock %}
                {% block footer %}
                    {% include custom_template("footer.html") %}
                {% endblock %}
            </div>
            {% endblock %}
        </section>
    {% endblock %}
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/jquery.hoverIntent.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/jquery.cluetip.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/jquery.fancybox-1.3.4.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/functions.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/advanced.js"></script>

    <!-- scielo portal -->
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/vendor/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/vendor/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/plugins.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/main.js"></script>
    <!-- /scielo portal -->

    {% block script %}
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/decs_window.js"></script>

    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/clusters.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/my_selection.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/email.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/bootstrap-affix.js"></script>
    <script language="javascript" type="text/javascript" src="{{ constant("STATIC_URL") }}js/ready.js"></script>
    {% endblock %}

    </body>
</html>