{% spaceless %}
{% for doc in docs %}
TY  - JOUR
{% for author in doc.au %}
AU  - {{ author }}
{% endfor %}
{% for title in doc.ti %}
T1  - {{ title }}
{% endfor %}
JO  - {{ doc.journal_title }}
DB  - SciELO {{ translate(doc.in.0, 'REFINE_in') }}
DP  - {{ config.home_url }}
ID  - {{ doc.id }}
{% for language in doc.la %}
LA  - {{ language }}
{% endfor %}
SP  - {{ doc.start_page }}
EP  - {{ doc.end_page }}
{% if doc.da %}
DA  - {{ doc.da }}
PY  - {{ doc.da|slice(0,4) }}
{% endif %}
{% if doc.ab_en %}
N2  - {{ doc.ab_en.0 }}
{% endif %}
{% if doc.ab_es %}
N2  - {{ doc.ab_es.0 }}
{% endif %}
{% if doc.ab_pt %}
N2  - {{ doc.ab_pt.0 }}
{% endif %}
UR  - {{ attribute(config.scielo_urls, doc.in.0) }}/scielo.php?script=sci_arttext&pid={{doc.ur.0}}&lang={{lang}}
ER  -

{% endfor %}
{% endspaceless %}
