        <div class="modal fade" id="Help" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Help</h4>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur leo et neque dictum imperdiet. Donec ut ornare nisi, nec facilisis tortor. Ut at libero nec dolor sodales sagittis. Aenean auctor rutrum accumsan. Duis magna massa, lobortis in leo viverra, finibus accumsan purus.</p>
                        <p>Curabitur ac enim id augue egestas tincidunt. Sed congue eleifend quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec in ipsum congue, dignissim sem a, varius odio. Nam laoreet dolor hendrerit orci aliquam porttitor. Aenean purus odio, placerat quis lacus quis, sagittis venenatis lectus.</p>
                    </div>
                </div>
            </div>
        </div>