{% extends custom_template("base.html") %}

{% block content %}
    
    {{ parent() }}

    {% if flash_message is defined %}
        <div id="flash" style="display: none;">{{ attribute(texts, flash_message) }}</div>
    {% endif %}

    {% if config.maintenance == 'true' %}
        <div class="noResults">
            {{ texts.MAINTENANCE }}
        </div >   
    {% else %}
        {% if detailed_query != '' and docs|length > 0 %}
            {% block results %}
                <div class="searchForm">
                    <div class="container resultBlock">
                        
                        <div class="searchFilters col-md-3 col-sm-4">
                            {% block clusters %}
                                {% include custom_template("result-clusters.html") %}
                            {% endblock %}
                        </div>

                        {% block result_options %}

                            {% block results_bar %}
                                
                                    {% block results_topbar %}
                                        {% include custom_template("result-topbar.html") %}
                                    {% endblock %}
                                
                            {% endblock %}

                            {% block result_set %}
                                <div class="results">
                                    {% block result_doc %}{% include custom_template( display_file ) %}{% endblock %}
                                    {% block result_navigation %}{% include custom_template("result-navigation.html") %}{% endblock %}
                                </div>
                            {% endblock %}
                            
                        {% endblock %}

                    </div>
                </div>
            {% endblock %}

            <div class="modal fade" id="SendViaEmail" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">{{ texts.SEND_RESULT }}</h4>
                        </div>
                        <form name="sendViaEmail" action="{{ current_url }}" method="post" class="validate">
                            <input type="hidden" name="is_email" value="true" />
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label">{{ texts.SEND_RESULT_TO }}*</label>
                                    <input type="text" name="email" value="" class="form-control valid multipleMail" />

                                    <p class="text-muted">
                                        {{ texts.SEND_RESULT_TO_HELP }}
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>{{ texts.SEND_BY_EMAIL }}</label>
                                    <div>
                                        <input type="radio" name="selection" id="sendViaEmail_selection_page" value="page" checked class="radio">
                                        <label class="radio" for="sendViaEmail_selection_page">{{ texts.THIS_PAGE }}</label>
                                    </div>
                                    <div class="selection" style="display: none;">
                                        <input type="radio" name="selection" value="my_selection" class="radio" id="sendViaEmail_selection_my_selection" />
                                        <label class="radio" for="sendViaEmail_selection_my_selection">Selected records <strong></strong></label>
                                    </div>
                                    <div>
                                        <input type="radio" name="selection" value="all_results" class="radio" id="sendViaEmail_selection_all_results" />
                                        <label class="radio" for="sendViaEmail_selection_all_results">{{ texts.ALL_REFERENCES_LIMIT }} <span class="text-muted">(max. 300)</span></label>
                                    </div>
                                    <!--div>
                                        <input type="radio" name="selection" value="between" class="radio" id="sendViaEmail_selection_between" />
                                        <label class="radio" for="sendViaEmail_selection_between">Between:  
                                            <div class="selectBox inline" style="width: 130px">
                                                <select name="betweenValue">
                                                    <option value="1">1 and 100</option>
                                                    <option value="101">101 and 200</option>
                                                    <option value="201">201 and 242</option>
                                                </select>
                                            </div>

                                        </label>
                                    </div-->
                                </div>
                                <div class="form-group extendForm">
                                    <a href="javascript:;" class="showBlock" id="showBlock" data-rel="#extraFields" data-hide="#showBlock">{{ texts.SEND_RESULT_CHANGE }}</a>

                                    <div id="extraFields" style="display: none;">
                                        <div class="form-group">
                                            <label>{{ texts.MAIL_FROM_EMAIL }}</label>
                                            <input type="text" name="your_email" value="" class="form-control" placeholder="" />
                                        </div>
                                        <div class="form-group">
                                            <label>{{ texts.MAIL_SUBJECT }}</label>
                                            <input type="text" name="subject" value="" class="form-control" placeholder="" />
                                        </div>
                                        <div class="form-group">
                                            <label>{{ texts.MAIL_COMMENT }}</label>
                                            <textarea name="comment" class="form-control"></textarea>
                                        </div>
                                        <a href="javascript:;" class="showBlock" data-rel="#showBlock" data-hide="#extraFields">{{ texts.SEND_RESULT_CHANGE }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="{{ texts.SEND }}" class="btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% if flash_message is defined %}
                {% if 'SUCCESS' in flash_message %}
                    {% set icon = 'success' %}
                {% endif %}

                <div class="modal fade" id="flash_message" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Mensagem</h4>
                            </div>
                            <div class="modal-body">
                                <div class="midGlyph {{icon}}">
                                    {{ attribute(texts, flash_message) }}
                                    <br/><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="shareButtons">
                <span class='st_facebook' displayText='Facebook'></span>
                <span class='st_delicious' displayText='Delicious'></span>
                <span class='st_twitter' displayText='Tweet'></span>
                <span class='st_googleplus' displayText='Google+'></span>
                <span class='st_sharethis' displayText='ShareThis'></span>
            </div>    

        {% elseif detailed_query != '' %}
            <div class="noResults">
                {{ texts.NO_RESULTS }}
            </div>
        {% endif %}

    {% endif %}        

{% endblock %}
