{% extends custom_template("base.html") %}

{% block content %}
    
    {{ parent() }}

    {% if flash_message is defined %}
        <div id="flash" style="display: none;">{{ attribute(texts, flash_message) }}</div>
    {% endif %}

    {% if config.maintenance == 'true' %}
        <div class="noResults">
            {{ texts.MAINTENANCE }}
        </div >   
    {% else %}
        {% if detailed_query != '' and docs|length > 0 %}
            {% block results %}
                <div class="searchForm">
                    <div class="container resultBlock">
                        
                        <div class="searchFilters col-md-3 col-sm-4">
                            {% block clusters %}
                                {% include custom_template("result-clusters.html") %}
                            {% endblock %}
                        </div>

                        {% block result_options %}

                            {% block results_bar %}
                                
                                    {% block results_topbar %}
                                        {% include custom_template("result-topbar.html") %}
                                    {% endblock %}
                                
                            {% endblock %}

                            {% block result_set %}
                                <div class="results">
                                    {% block result_doc %}{% include custom_template( display_file ) %}{% endblock %}
                                    {% block result_navigation %}{% include custom_template("result-navigation.html") %}{% endblock %}
                                </div>
                            {% endblock %}
                            
                        {% endblock %}

                    </div>
                </div>
            {% endblock %}

        {% elseif detailed_query != '' %}
            <div class="noResults">
                {{ texts.NO_RESULTS }}
            </div>
        {% endif %}

    {% endif %}        

{% endblock %}
