            <a href="" class="menu" data-rel=".mainMenu" title="Abrir menu">Abrir menu</a>
            <div class="mainMenu">
                <nav>
                    <ul>
                        <li>
                            <strong>SciELO.org - Red SciELO</strong>
                            <ul>
                                <li><a href="http://www.scielo.org/php/index.php?lang=es">Colecciones nacionales y temáticas</a></li>
                                <li><a href="https://www.scielo.org/es/revistas/listar-por-orden-alfabetico/">Lista alfabética de títulos</a></li>
                                <li><a href="https://www.scielo.org/es/revistas/listar-por-tema/">Lista de títulos por tema</a></li>
                                <li><a href="http://www.scielo.org/applications/scielo-org/php/siteUsage.php?lang=es">Estadísticas</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=es&component=44&item=9">Acceso OAI y RSS</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=es&component=44&item=8">Acerca de la red SciELO</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://blog.scielo.org/es/"><strong>Blog SciELO en Perspectiva</strong></a>
                        </li>
                    </ul>
                </nav>
            </div>
