<div class="search">
    {% if params.q is defined and params.q|length > 2048 %}
      <form name="searchForm" id="searchForm" action="{{ constant("SEARCH_URL") }}" method="POST">
    {% else %}
    <form name="searchForm" id="searchForm" action="{{ constant("SEARCH_URL") }}" method="GET">
    {% endif %}

        <div class="searchForm">
                <input type="hidden" name="output" id="output" value="{{ output }}">
                <input type="hidden" name="lang" id="lang" value="{{ lang }}">
                <input type="hidden" name="from" id="from" value="{{ from }}">
                <input type="hidden" name="sort" id="sort" value="{{ sort }}">
                <input type="hidden" name="format" id="format" value="{{ format }}">
                <input type="hidden" name="count" id="count" value="{{ pag.count }}">
                <input type="hidden" name="fb" id="fb" value="">
                <input type="hidden" name="page" id="page" value="{% if params.page is defined %}{{ params.page }}{% else %}1{% endif %}">


                {% for name, items in filters if filters is defined %}
                    {% for item in items %}
                        <input type="hidden" name="filter[{{ name }}][]" value="{{ item }}">
                    {% endfor %}
                {% endfor %}


                <label for="q" class="hide">Busca</label>
                <input type="text" name="q" id="q" value="{% if params.q %}{{ params.q }}{% else %}{{ texts.SEARCH_WORDS }}{% endif %}" class="inputText {% if params.q is not defined %}defaultValue{% endif %}" title="{{ texts.SEARCH_WORDS }}" placeholder="{{ texts.SEARCH_WORDS }}" onfocus="if(this.value=='{{ texts.SEARCH_WORDS }}') this.value = '';" onblur="if(this.value=='') this.value = '{{ texts.SEARCH_WORDS }}';" onkeydown="$('#q').removeClass('defaultValue');">

                {% if collectionData.index_list.index is defined %}
                    <label for="selectIndex" class="hide">{{texts.LABEL_FOR_SELECT_INDEX}}</label>
                    <select name="index" class="inputText" id="selectIndex">

                    {% for index in collectionData.index_list.index if not index.advanced %}

                        {% if params.index is defined %}
                            {% if index.prefix == params.index %}
                                <option value="{{ index.prefix }}" selected="true">{{ attribute(texts.INDEXES, index.name) }}</option>
                            {% else %}
                                <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                        {% endif %}
                    {% endfor %}

                    </select>
                {% endif %}

                {% if collectionData.where_list.where is defined %}
                    <label for="selectWhere" class="hide">{{texts.LABEL_FOR_SELECT_INDEX}}</label>
                    {{ texts.WHERE_FILTER }}:
                    <select name="where" class="inputText" id="selectWhere">
                        {% for where in collectionData.where_list.where %}
                            {% set tab = '' %}
                            {% if where.level == '2' %}{% set tab = '&nbsp;&nbsp;&nbsp;&nbsp;' %}{% endif %}

                            {% if params.where is defined %}
                                {% if where.name == params.where %}
                                    <option value="{{ where.name }}" selected="true">{{ tab|raw }}{{ attribute(texts.REFINE_db, where.name) }}</option>
                                {% else %}
                                    <option value="{{ where.name }}" >{{ tab|raw }}{{ attribute(texts.REFINE_db, where.name) }}</option>
                                {% endif %}
                            {% else %}
                                <option value="{{ where.name }}" >{{ tab|raw }}{{ attribute(texts.REFINE_db, where.name) }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endif %}

                <input type="submit" value="{{ texts.SEARCH_SUBMIT }}" class="submit">
                <div class="actions">
                    <i class="icon-search"> </i> <a href="{{ constant("SEARCH_URL") }}advanced/?lang={{ lang }}">{{ texts.ADVANCED_SEARCH }}</a>
                </div>
        </div>
    </form>
</div>