<form name="searchForm" id="searchForm" action="{{ constant("SEARCH_URL") }}"
                        method="{% if detailed_query|length > 2048 %}post{% else %}get{% endif %}">

    <input type="hidden" name="q" id="q" value="{{ q }}">
    <input type="hidden" name="lang" id="lang" value="{{ lang }}">
    <input type="hidden" name="count" id="count" value="{{ pag.count }}">
    <input type="hidden" name="from" id="from" value="{{ from }}">
    <input type="hidden" name="output" id="output" value="{{ output }}">
    <input type="hidden" name="sort" id="sort" value="{{ sort }}">
    <input type="hidden" name="format" id="format" value="{{ format }}">
    <input type="hidden" name="fb" id="fb" value="">
    <input type="hidden" name="page" id="page" value="{% if params.page is defined %}{{ params.page }}{% else %}1{% endif %}">

    {% for name, items in filters if filters is defined %}
        {% for item in items %}
            <input type="hidden" name="filter[{{ name }}][]" value="{{ item }}">
        {% endfor %}
    {% endfor %}

</form>
<form name="searchFormBuilder" class="searchFormBuilder searchForm">
    <div class="highlight {% if detailed_query != '' %}result{% endif %}">
        <div class="container">
            <div class="row">
            

                {% if detailed_query == '' %}
                    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1">
                        <h2>{{ texts.SEARCH_ARTICLES }}</h2>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">

                    </div>
                    <div class="clearfix"></div>
                {% endif %}


                <div class="col-md-8 col-sm-10 {% if detailed_query == '' %}col-md-offset-1 {% endif %}">

                    <a href="" class="hidden-xs contextHelper" data-toggle="modal" id="contextHelper1" data-target="#BuscaAjuda">
                        {{ texts.NEED }} <strong>{{ texts.HELP }}</strong>?
                    </a>

                    <div class="input-group col-md-12 col-sm-12">
                        <div class="form-textarea col-xs-9 col-sm-8">
                            <textarea name="q[]" placeholder="{{ texts.SEARCH_WORDS }}" rows="1" class="form-control showContextHelper" data-helper="#contextHelper1">{% if docs|length > 0 %}{{ params.q }}{% endif %}</textarea>
                            <a href="javascript:;" class="clearIptText showTooltip" title="{{ texts.CLEAN_SEARCHFIELD }}" style="display: none;"></a>
                        </div>
                        
                        <div class="visible-xs col-xs-3" style="padding-right:0">
                            <input type="submit" name="search_button" value="{{ texts.SEARCH_SUBMIT }}" class="btn btn-primary glyph glyph-search">
                        </div>

                        <div class="selectBox index col-xs-9 col-sm-4">
                            <select name="index[]">
                                {% for index in collectionData.index_list.index if not index.advanced %}
                                    {% if params.index is defined %}
                                        {% if index.prefix == params.index %}
                                            <option value="{{ index.prefix }}" selected="true">{{ attribute(texts.INDEXES, index.name) }}</option>
                                        {% else %}
                                            <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                                        {% endif %}

                                    {% else %}
                                        <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                </div>

                <div class="hidden-xs col-md-2 col-sm-2">
                    <input type="submit" name="search_button" value="{{ texts.SEARCH_SUBMIT }}" class="btn btn-primary glyph glyph-search">
                </div>

                {% if detailed_query != '' %}
                    <div class="col-md-2 hidden-sm hidden-xs">
                        <a href="{{ constant("SEARCH_URL") }}?lang={{lang}}" class="normalizeButton">» {{ texts.NEW_SEARCH }}</a>
                    </div>
                {% endif %}
                <div class="clearfix"></div>

            <div class="searchRow-container">

            </div>

            <div class="visible-xs col-xs-12">
                <hr>
            </div>      

            <div class="{% if detailed_query == '' %}col-md-7 col-sm-7{% else %}col-md-6 col-sm-6{% endif %} col-xs-6 right">
                <a href="javascript:;" class="newSearchField" data-count="2">
                    <span class="hidden-xs">
                        {{ texts.ADD_FIELD }}
                    </span>
                    <span class="visible-xs">
                        {{ texts.ADD_FIELD_MOBILE }}
                    </span>
                </a>
            </div>
            <div class="{% if detailed_query == '' %}col-md-3 col-md-offset-2 col-sm-3 col-xs-6{% else %}col-md-3  col-md-offset-2 col-sm-3 {% endif %}">

                <a href="{{ constant("SEARCH_URL") }}history/?lang={{lang}}" class="shLink">{{ texts.HISTORY }}</a>
            </div>
            <div class="clearfix"></div>
            </div>

            <div class="row hide" id="NoResults">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-12 col-lg-offset-0">
                    <br>
                    <h2>{{ texts.NO_RESULTS }}</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div id="searchRow-matriz">
        <div class="searchRow" id="searchRow-@" style="display: none;">
            
            <div class="visible-xs col-xs-9">
                <hr>
            </div>

            <div class="hidden-xs hidden-sm col-md-1 right">
                <a href="" class="eraseSearchField" data-rel="" title="Apagar campo"></a>
            </div>
            
            <div class="{% if detailed_query == '' %}col-md-8 col-sm-10{% else %}col-md-7 col-sm-10{% endif %} col-xs-12">
                
                <div class="input-group col-md-12 col-sm-12 ">
                    <div class="col-xs-6 col-sm-3 selectBox connector">
                        <select name="bool[]">
                            <option>AND</option>
                            <option>OR</option>
                            <option>AND NOT</option>
                        </select>
                    </div>
                    <div class="col-xs-9 col-sm-5  form-textarea no-divisor">
                        <textarea name="q[]" placeholder="{{ texts.SEARCH_WORDS }}" rows="1" class="form-control"></textarea>
                        <a href="javascript:;" class="clearIptText showTooltip" title="Limpar expressão" style="display: none;"></a>
                    </div>
                    <div class="visible-xs col-xs-3">
                        <a href="" class="eraseSearchField" data-rel="" title="Apagar campo"></a>
                    </div>
                    <div class="col-xs-9 col-sm-4 selectBox index">
                        <select name="index[]">
                            {% for index in collectionData.index_list.index if not index.advanced %}
                                {% if params.index is defined %}
                                    {% if index.prefix == params.index %}
                                        <option value="{{ index.prefix }}" selected="true">{{ attribute(texts.INDEXES, index.name) }}</option>
                                    {% else %}
                                        <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                                    {% endif %}
                                {% else %}
                                    <option value="{{ index.prefix }}" >{{ attribute(texts.INDEXES, index.name) }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    
                </div>

            </div>

            <div class="visible-sm col-sm-2">
                <a href="" class="eraseSearchField" data-rel="" title="Apagar campo"></a>
            </div>
            
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
{# % include custom_template('help-searchbar-' ~ lang ~ '.html') % #}