            <a href="" class="menu" data-rel=".mainMenu" title="Abrir menu">Open menu</a>
            <div class="mainMenu">
                <nav>
                    <ul>
                        <li>
                            <strong>SciELO.org - SciELO Network</strong>
                            <ul>
                                <li><a href="http://www.scielo.org/php/index.php?lang=en">Journal collections</a></li>
                                <li><a href="https://www.scielo.org/en/journals/list-by-alphabetical-order/">Journal alphabetic list</a></li>
                                <li><a href="https://www.scielo.org/en/journals/list-by-subject-area/">Journal subject list</a></li>
                                <li><a href="http://www.scielo.org/applications/scielo-org/php/siteUsage.php?lang=en">Metrics</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=en&component=42&item=9">OAI and RSS access</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=en&component=42&item=8">About SciELO Network</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://blog.scielo.org/en/"><strong>Blog SciELO in Perspective</strong></a>
                        </li>
                    </ul>
                </nav>
            </div>
