            <a href="" class="menu" data-rel=".mainMenu" title="Abrir menu">Abrir menu</a>
            <div class="mainMenu">
                <nav>
                    <ul>
                        <li>
                            <strong>SciELO Brasil</strong>
                            <ul>
                                <li><a href="http://www.scielo.br/scielo.php?script=sci_alphabetic&lng=es&nrm=iso">Lista alfabética de títulos</a></li>
                                <li><a href="http://www.scielo.br/scielo.php?script=sci_subject&lng=es&nrm=iso">Lista de títulos por tema</a></li>
                                <li><a href="#">Búsqueda</a></li>
                                <li><a href="http://www.scielo.br/scielo.php?script=sci_stat&lng=es&nrm=iso">Estadísticas</a></li>
                                <li><a href="http://www.scielo.br/scielo.php?script=sci_home&lng=es&nrm=iso#about">Acerca de la SciELO Brasil</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>SciELO.org - Red SciELO</strong>
                            <ul>
                                <li><a href="http://www.scielo.org/php/index.php?lang=es">Colecciones nacionales y temáticas</a></li>
                                <li><a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForAlphabeticList&xsl=secondLevelForAlphabeticList&lang=es">Lista alfabética de títulos</a></li>
                                <li><a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForSubjectByLetter&xsl=secondLevelForSubjectByLetter&lang=es">Lista de títulos por tema</a></li>
                                <li><a href="#">Búsqueda</a></li>
                                <li><a href="http://www.scielo.org/applications/scielo-org/php/siteUsage.php?lang=es">Estadísticas</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=es&component=56&item=9">Acceso OAI y RSS</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=es&component=56&item=8">Acerca de la red SciELO</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://blog.scielo.org/"><strong>Blog SciELO en Perspectiva</strong></a>
                        </li>
                    </ul>
                </nav>
            </div>
