           <a href="" class="menu" data-rel=".mainMenu" title="Abrir menu">Abrir menu</a>
            <div class="mainMenu">
                <nav>
                    <ul>
                        <li>
                            <strong>SciELO Brasil</strong>
                            <ul>
                                <li><a href="http://www.scielo.br/scielo.php?script=sci_alphabetic&lng=pt&nrm=iso">Lista alfabética de periódicos</a></li>
                                <li><a href="http://www.scielo.br/scielo.php?script=sci_subject&lng=pt&nrm=iso">Lista de periódicos por assunto</a></li>
                                <li><a href="#">Busca</a></li>
                                <li><a href="http://www.scielo.br/scielo.php?script=sci_stat&lng=pt&nrm=iso">Métricas</a></li>
                                <li><a href="http://www.scielo.br/scielo.php?script=sci_home&lng=pt&nrm=iso#about">Sobre a SciELO Brasil</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>SciELO.org - Rede SciELO</strong>
                            <ul>
                                <li><a href="http://www.scielo.org/php/index.php">Coleções nacionais e temáticas</a></li>
                                <li><a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForAlphabeticList&xsl=secondLevelForAlphabeticList">Lista alfabética de periódicos</a></li>
                                <li><a href="http://www.scielo.org/applications/scielo-org/php/secondLevel.php?xml=secondLevelForSubjectByLetter&xsl=secondLevelForSubjectByLetter">Lista de periódicos por assunto</a></li>
                                <li><a href="#">Busca</a></li>
                                <li><a href="http://www.scielo.org/applications/scielo-org/php/siteUsage.php">Métricas</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=9">Acesso OAI e RSS</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=8">Sobre a rede SciELO</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://blog.scielo.org/"><strong>Blog SciELO em Perspectiva</strong></a>
                        </li>
                    </ul>
                </nav>
            </div>
