/* CONFIG */
*{margin:0; padding:0;}
body{font:11px "Arial", Helvetica, Sans-Serif; background:#fff; color:rgb(51,51,51); line-height:15px;}
img{border:0; max-width: 100%; height: auto;}
.mobile{width:100%; float:left;}
.spacer{clear:both;}

/* ALL */
.padding5{padding:5px; overflow:hidden;}
.padding7{padding:7px;}
.margintop5{margin-top:5px;}
.row-fluid{width:100%; float:left;}
.pull-right{float:right !important;}
.h1-center{width:100%; position:absolute; top:13px; left:0; z-index:3; font-size:14px; font-weight:bold; text-align:center;}
.h1-tits{font-weight:bold; font-size:13px; margin-bottom:5px;}
.bg-white{background:rgb(255,255,255);}

/* SPRITE */
.i-nav-hide, .i-nav-show, .i-arrow-right, .i-results-arrow, .b-back, .b-search, .b-apply, .i-hide, .i-show, .c-filters-remove, .icn-html, .icn-pdf, .icn-epub {background-image:url(../../image/mobile/sprite.png); background-repeat:no-repeat; background-color:transparent;}

/* ICONS (i) */
.i-arrow-right{float:right; margin:2px 7px 0px 7px; width:10px; height:14px; background-position:-25px -177px;}
.i-nav-show, .i-nav-hide{cursor:pointer; width:19px; height:16px; float:right; margin:0 7px; border:none;}
.i-results-arrow{width:10px; height:14px; position:absolute; z-index:2; right:7px; top:50%; margin-top:-7px; background-position:-25px -177px;}
.i-hide, .i-show{width:14px; height:14px; float:left; margin-right:7px;}
.i-hide{background-position:-71px -178px;}
.i-show{background-position:-89px -178px;}

/* HEADER (h) */
.h{overflow:hidden; border-bottom:1px solid rgb(122,128,145);}
.h-padding{padding:7px 7px 0 7px;}
.h-bg{background-color:rgb(255,255,255);}
.top{width:100%; float: left; margin-bottom:12px;}
.h-logo a img{float: left;}
.h-search{width:100%; float:left; position:relative; margin-bottom:12px;}
.h-label{float:left; margin:0 7px;}
.h-div{position:relative; width:100%; float:left; padding:7px 0; background:rgb(199,199,199);}
.h-div-back{position:relative; width:100%; float:left; padding:7px 0; background:rgb(235,235,235); border-top:1px solid rgb(122,128,145);}
.h-nav{width:100%; display:none; background:rgb(232,232,232);}
.i-nav-show{background-position:0 -176px;}
.i-nav-hide{background-position:-51px -175px; display:none;}
.h-nav-ul{width:100%; float:left; list-style:none;}
.h-nav-ul-li{width:100%; padding:12px 0; display:block; border-bottom:1px solid rgb(160,160,160);}
.h-nav-ul-lia{padding:0 7px; color:rgb(51,51,51); font-size:13px; font-weight:bold; text-decoration:none;}
.top .identification {float: left;}
.top .identification H1 {display: none;}
.top .identification H2 {display: none;}

/* CONTENT (c) */
.c{width:100%; height:100%; float:left; background:rgb(232,232,232);}
.c-results-list{width:100%; float:left; list-style:none;}
.c-results{float:left;padding:5px 0 5px 0; border-bottom:1px solid rgb(160,160,160); width:100%;position:relative;}
.c-results-a{float:left; color:rgb(51,51,51); text-decoration:none;  padding:0 40px 0 7px;}
.c-results-tit, .c-results-intro, .c-results-lang, .c-results-resume-tit, .c-results-assunt{width:100%; float:left;}
.c-results-tit{color:#990000; font-weight:bold; font-size:14px; line-height:16px; margin:0 0 2px 0;}
.c-tags{background: none repeat scroll 0 0 #B9B9B9;border: 1px solid #898989;border-radius: 12px 12px 12px 12px;float: left;font-size: 90%;margin: 2px 4px;padding: 0 4px;}
.c-results-intro{font-size:11px; font-weight:normal; color:rgb(51,51,51); line-height:15px;}
.c-results-lang{font-style:italic; margin-top:3px;}
.c-results-resume{padding:0px 7px; overflow:hidden; margin-top:5px; border-top:1px solid rgb(160,160,160);}
.c-results-h3{font-size:11px; margin-bottom:2px; font-weight:bold; color:rgb(51,51,51); line-height:15px;}
.c-filters, .c-filters-ul, .c-filters-sub{width:100%;}
.c-filters-ul{list-style:none; border-bottom:1px solid rgb(160,160,160);}
.c-filters-li{width:100%;font-size:12px; font-weight:bold;}
.c-filters-lia{display:block; padding:7px 7px;  position:relative; color:rgb(51,51,51); text-decoration:none;}
.c-filters-sub{display:none; list-style:none; background:rgb(255,255,255); border-top:1px solid rgb(160,160,160)}
.c-filters-sub-li{overflow:hidden; display:block; padding:7px 7px; border-bottom:1px solid rgb(204,204,204);}
.c-filters-sub-li:last-child{border-color:transparent;}
.c-filters-select{float:left; padding:1px; margin:0 5px 5px 0;}
.c-filters-remove{cursor:pointer; width:14px; height:13px; background-position:-108px -178px; float:left; margin:0 3px 0 0;}
.c-orderby-ul{padding:5px 0;background-color: rgb(255,255,255);border-bottom:1px solid rgb(160,160,160);}
.c-orderby-li {padding:3px 7px;}


.c-share, .related{padding: 5px;border-top: 1px solid #A0A0A0;margin-top: 5px;}
.c-share-li{}
.icn-epub, .icn-pdf, .icn-html{width: 16px; height:16px;display: inline-block;}
.icn-epub{background-position: 0 -232px}
.icn-pdf{background-position: -26px -232px}
.icn-html{background-position: -52px -232px}
.c-share-ul{margin:8px 0 0 0;}
.c-share-li{display: inline-block;margin:0 6px 0 0;}
.c-share-lia{text-decoration:none;}
.c-share-lia:hover{text-decoration:underline;}

/* FORMS */

.input-search{width:70%; font-size:11px; min-height:20px; max-height:20px; float:left; border:1px solid rgb(60,67,75); padding:2px 7px; border-radius:5px;}
.b-search{width:61px; height:27px; background-position:-49px -200px; margin-left: 6px;cursor:pointer; text-indent:-1999px; font-size:10px; border:none;}
.b-back{z-index:30; position:relative; width:44px; height:27px; float:left; margin-left:7px; background-position:0 -200px; text-indent:-2500px; font-size:10px;}
.b-apply{z-index:30; position:relative; width:56px; height:27px; margin:-33px 26px 0 0; background-position:-115px -200px; text-indent:-2500px; font-size:10px;border:none;cursor:pointer;}
.c-filters-ck{float:left; margin:1px 5px 0 0;}
.c-filters-lbl{float:left; cursor:pointer; text-decoration: none; color:rgb(51,51,51);}

/* PAGINACAO */
.c-results-pag{width:100%; float:left; position:relative;}
.simplePagerNav{list-style:none; float:right; margin:10px 7px 7px 0;}
.simplePagerNav li{float:left; margin-left:5px; font-size:10px;}
.simplePagerNav li a{float:left; background:rgb(40,72,125); padding:3px 10px; text-decoration:none; color:rgb(255,255,255);}
.currentPage a{background:rgb(51,51,51) !important; text-decoration:none; color:rgb(255,255,255) !important;}

/* TAGS */

/* RELATED DOCS */
.related_docs_list li{
	list-style-type: decimal;
	list-style-position: inside;
	padding-left:6px;
	margin: 10px 0;
}
.related_docs_list li,
.related_docs_list li a{
	color:rgb(40,72,125);
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: None;
}

/* FOOTER */
.footer{clear:both;padding:7px;}
