<?xml version="1.0"?>
<dia_config>
    <use_https>true</use_https>
	<site>solr/scielo-articles</site>
	<bvs_url>https://search.scielo.org/</bvs_url>
	<about_bvs_url>http://www.scielo.org/php/level.php?lang=pt&amp;component=56&amp;item=8</about_bvs_url>
	<home_url>http://www.scielo.org/</home_url>
	<search_server>api-search.scielo.org</search_server>
	<photocopy_url/>
	<documents_per_page>15</documents_per_page>
    <max_export_records>2000</max_export_records>
	<max_documents_per_page>100</max_documents_per_page>
    <default_lang>pt</default_lang>
	<log_user_search>true</log_user_search>
	<log_dir>./logs/</log_dir>
	<environment>development</environment>
	<addthis_pub></addthis_pub>
	<addthis_buttons>
		<button>favorites</button>
		<button>facebook</button>
		<button>delicious</button>
	</addthis_buttons>
    <show_metrics>true</show_metrics>
    <metrics>
        <plumx_metrics_url>
            https://plu.mx/scielo/a
        </plumx_metrics_url>
        <use_plumx>
            true
        </use_plumx>
        <dimensions_metrics_url>
            https://badge.dimensions.ai/details/doi/
        </dimensions_metrics_url>
        <use_dimensions>
            true
        </use_dimensions>
        <analytics_metrics_url>
            https://analytics.scielo.org/w/accesses
        </analytics_metrics_url>
        <use_analytics>
            true
        </use_analytics>
    </metrics>
	<show_related_docs>false</show_related_docs>
	<related_min_score>40</related_min_score>
	<google_analytics_tracking_id>UA-18268125-1</google_analytics_tracking_id>
	<cookie_policy_enabled>true</cookie_policy_enabled>
	<cookie_policy_script_url>https://static.scielo.org/js/cookiePolicy.min.js</cookie_policy_script_url>
	<maintenance>false</maintenance>
	<feedback_id></feedback_id>
	<browse_index_url></browse_index_url>
	<mobile_version>false</mobile_version>
        <publication_year_start>1909</publication_year_start>
        <sharethis_pub>42009467-3534-44d9-901d-6bfa29a807c4</sharethis_pub>
	<search_collection_list>
		<collection>
			<name></name>
			<cluster_items_limit>5</cluster_items_limit>
			<initial_filter></initial_filter>
			<index_list>
				<index>
					<name>ALL</name>
					<prefix></prefix>
				</index>
                <index>
                    <name>YEAR</name>
                    <prefix>year_cluster</prefix>
                </index>
                <index>
                    <name>AU</name>
                    <prefix>au</prefix>
                </index>
				<index>
					<name>SP</name>
					<prefix>sponsor</prefix>
				</index>
                <index>
                    <name>TA</name>
                    <prefix>ta</prefix>
                </index>
                <index>
                    <name>AB</name>
                    <prefix>ab</prefix>
                </index>
                <index>
                    <name>TI</name>
                    <prefix>ti</prefix>
                </index>
			</index_list>
			<where_list>
				<where>
					<name>ORG</name>
					<filter></filter>
				</where>
				<where>
					<name>ARG</name>
					<filter>in:("arg")</filter>
				</where>
				<where>
					<name>SCL</name>
					<filter>in:("scl")</filter>
				</where>
				<where>
					<name>CHL</name>
					<filter>in:("chl")</filter>
				</where>
				<where>
					<name>COL</name>
					<filter>in:("col")</filter>
				</where>
				<where>
					<name>CRI</name>
					<filter>in:("cri")</filter>
				</where>
				<where>
					<name>CUB</name>
					<filter>in:("cub")</filter>
				</where>
				<where>
					<name>ESP</name>
					<filter>in:("esp")</filter>
				</where>
				<where>
					<name>MEX</name>
					<filter>in:("mex")</filter>
				</where>
				<where>
					<name>PRT</name>
					<filter>in:("prt")</filter>
				</where>
				<where>
					<name>VEN</name>
					<filter>in:("ven")</filter>
				</where>
				<where>
					<name>SPA</name>
					<filter>in:("spa")</filter>
				</where>
				<where>
					<name>SSS</name>
					<filter>in:("sss")</filter>
				</where>
				<where>
					<name>SZA</name>
					<filter>in:("sza")</filter>
				</where>
                <where>
                        <name>PER</name>
                        <filter>in:("per")</filter>
                </where>
                <where>
                        <name>BOL</name>
                        <filter>in:("bol")</filter>
                </where>
			</where_list>
			<sort_list>
                <sort>
                	<name>YEAR_DESC</name>
                	<value>da desc</value>
                </sort>
                <sort>
                    <name>YEAR_ASC</name>
                	<value>da asc</value>
                </sort>
                	<sort>
                	<name>RELEVANCE</name>
                	<value>score desc</value>
                </sort>
                <sort>
                    <name>CITED_DESC</name>
                    <value>total_received desc</value>
                </sort>
                <sort>
                    <name>ACCESS_DESC</name>
                    <value>total_access desc</value>
                </sort>
			</sort_list>
            <format_list>
            	<format>
            		<name>summary</name>
            	</format>
            </format_list>
            <!-- restrict list of clusters to show on result. If not set show all availables on solrconf.xml -->
            <!--cluster_list>
                <cluster>collection</cluster>
                <cluster>tag_brasil</cluster>
            </cluster_list-->
			<filter_list_boolean>true</filter_list_boolean>
		</collection>
	</search_collection_list>
	<scielo_urls>
		<arg>http://www.scielo.org.ar</arg>
		<scl>http://www.scielo.br</scl>
		<chl>http://www.scielo.cl</chl>
		<col>http://www.scielo.org.co</col>
		<cri>http://www.scielo.sa.cr</cri>
		<cub>http://scielo.sld.cu</cub>
		<ury>http://www.scielo.edu.uy</ury>
		<esp>http://scielo.isciii.es</esp>
		<mex>http://www.scielo.org.mx</mex>
		<prt>http://www.scielo.mec.pt</prt>
		<ven>http://ve.scielo.org</ven>
		<spa>http://www.scielosp.org</spa>
		<sss>http://socialsciences.scielo.org</sss>
		<sza>http://www.scielo.org.za</sza>
        <bol>http://www.scielo.org.bo</bol>
        <per>http://www.scielo.org.pe</per>
        <ecu>http://scielo.senescyt.gob.ec</ecu>
        <pry>http://scielo.iics.una.py/</pry>
        <wid>http://westindies.scielo.org</wid>
	</scielo_urls>
</dia_config>
