<footer>
    <div class="collectionSignature">
        <div class="container">
            <div class="col-md-2 col-sm-2">
                <img src="{{ constant("STATIC_URL") }}/image/revenf.svg" alt="Logo Rev Enf" />
            </div>
            <div class="col-md-8 col-sm-9">
                <strong>REV@ENF - Portal de Revistas de Enfermagem </strong><br />BVS - BIREME - REVENF<br/> Av Bandeirante, 3900 Campus Universitáo USP - Monte Alegre 14040-902 Ribeirão Preto SP - Brasil<br/> Tel.: (55 16) 3602-3430 <br />Fax: (55 16)
                3633-3271 <br /> Email: marziale@eerp.usp.br
            </div>
        </div>
    </div>
    <div class="partners">

        <a href="http://regional.bvsalud.org/bvs/bireme/homepage.htm" target="_blank"><img src="{{ constant("STATIC_URL") }}/image/ops-oms_es_pt.gif" alt="BIREME • OPAS • OMS"></a>
        <a href="https://www.saude.gov.br/" target="_blank"><img src="{{ constant("STATIC_URL") }}/image/logo-min-saude-min.png" alt="Ministério da Saúde"></a>

    </div> 
    <div class="container collectionLicense">  
        <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
            <img src="{{ constant("STATIC_URL") }}/image/cc-license.png" alt="Creative Common - BY" />
            <span>
				{{ texts.LICENCE_DISCLAIMER }}<br/>   
				<strong>{{ texts.LICENCE_DISCLAIMER_MORE }} »</strong> 
			</span> 
        </a>

    </div>
</footer>

</div>
<!-- div content -->