           <a href="" class="menu" data-rel=".mainMenu" title="Abrir menu">Abrir menu</a>
            <div class="mainMenu">
                <nav>
                    <ul>
                        <li>
                            <strong>RevEnf - Portal de Revistas de Enfermagem</strong>
                            <ul>
                                <li><a href="http://www.portal.revenf.bvsalud.org/">Coleções nacionais e temáticas</a></li>
                                <li><a href="http://scielohomolog.parati.ag/revenf-site/pt/sobre-o-portal">Sobre a rede RevEnf</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://blog.revenf.org/"><strong>Blog Rev@Enf</strong></a>
                        </li>
                    </ul>
                </nav>
            </div>
