            <a href="" class="menu" data-rel=".mainMenu" title="Abrir menu">Open menu</a>
            <div class="mainMenu">
                <nav>
                    <ul>
                        <li>
                            <strong>RevEnf - Portal de Revistas de Enfermagem</strong>
                            <ul>
                                <li><a href="http://www.portal.revenf.bvsalud.org/php/index.php?lang=en">Journal collections</a></li>
                                <li><a href="http://scielohomolog.parati.ag/revenf-site/en">About RevEnf Network</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://blog.revenf.org/"><strong>Blog Rev@Enf</strong></a>
                        </li>
                    </ul>
                </nav>
            </div>
