           <a href="" class="menu" data-rel=".mainMenu" title="Abrir menu">Abrir menu</a>
            <div class="mainMenu">
                <nav>
                    <ul>
                        <li>
                            <strong>SciELO.org - Rede SciELO</strong>
                            <ul>
                                <li><a href="http://www.scielo.org/php/index.php">Coleções nacionais e temáticas</a></li>
                                <li><a href="https://www.scielo.org/pt/periodicos/listar-por-ordem-alfabetica">Lista alfabética de periódicos</a></li>
                                <li><a href="https://www.scielo.org/pt/periodicos/listar-por-assunto">Lista de periódicos por assunto</a></li>
                                <li><a href="http://www.scielo.org/applications/scielo-org/php/siteUsage.php">Métricas</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=9">Acesso OAI e RSS</a></li>
                                <li><a href="http://www.scielo.org/php/level.php?lang=pt&component=56&item=8">Sobre a rede SciELO</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://blog.scielo.org/"><strong>Blog SciELO em Perspectiva</strong></a>
                        </li>
                    </ul>
                </nav>
            </div>
