
<div class="container">
    <div class="topFunction">
        <div class="col-md-3 col-sm-4 mainNav">
           {% include custom_template('top-menu-' ~ lang ~ '.html') %}
        </div>

        <div class="col-md-6 col-sm-4 brandLogo brandLogoInternal">
            <a href="{{ config.bvs_url }}"></a>
        </div>

        <div class="col-md-3 col-sm-4 language">
            {% for langcode, item in texts.AVAILABLE_LANGUAGES %}
                <a href="javascript:change_language('{{ langcode|lower }}')" {% if langcode|lower == lang %} class="selected" {% endif %} class="lang-{{ langcode|lower }}">{{ item }}</a>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>
</div>
