{% spaceless %}
{% for doc in docs %}
{% if doc.type.0 == "article" %}
TY  - JOUR
{% endif %}
{% if doc.type.0 == "non-conventional" %}
TY  - GEN
{% endif %}
{% if doc.type.0 == "book" %}
TY  - BOOK
{% endif %}
{% for author in doc.au %}
AU  - {{ author }}
{% endfor %}
TI  - {{ doc.ti.0 }}
{% for title in doc.ti %}
{% if not loop.first %}
TT  - {{ title }}
{% endif %}
{% endfor %}
{% if doc.ta %}
JO  - {{ doc.ta.0 }}
{% endif %}
{% if doc.vi %}
VL  - {{ doc.vi.0 }}
{% endif %}
{% if doc.ip %}
IS  - {{ doc.ip.0 }}
{% endif %}
DB  - {{ doc.db.0|default(doc.db) }}
DP  - {{ config.bvs_url }}
ID  - {{ doc.id|substring_after('-') }}
LA  - {{ doc.la[0] }}
{% if doc.pg.0  %}
{% if "-" in doc.pg.0 %}
SP  - {{ doc.pg.0|substring_before('-')|trim }}
EP  - {{ doc.pg.0|substring_after('-')|trim }}
{% else %}
SP  - {{ doc.pg.0 }}
EP  - {{ doc.pg.0 }}
{% endif %}
{% endif %}
{% if doc.da %}
DA  - {{ doc.da|slice(0,4) }}/{{ doc.da|slice(4,2) }}{% if doc.da|slice(6,2) %}/{{ doc.da|slice(6,2) }}{% endif %}

PY  - {{ doc.da|slice(0,4) }}
{% endif %}
{% for mesh in doc.mh %}
KW  - {{ mesh }}
{% endfor %}
{% for abstract in doc.ab %}
AB  - {{ abstract }}
{% endfor %}
{% if doc.ur %}
{% for url in doc.ur %}
UR  - {{ url|raw }}
{% endfor %}
{% else %}
UR - {{ constant("SEARCH_URL") }}resource/{{ lang }}/{{ doc.id }}
{% endif %}
ER  -

{% endfor %}
{% endspaceless %}
