BODY {
	font-size: 92%;
}
HTML/**/>BODY {
	font-size: 90%;
}
BODY, INPUT, SELECT, TEXTAREA {
	font-family: Arial, Verdana, Helvetica;
}

H1{
	font-size: 160%;
}

ol li{
	margin: 0 0 10px 5px;
}
ol li a {
	color: #14376C;
	text-decoration: none;
}

.center{
	margin-top: 15%;
	text-align: center;
}

.data{
	border: solid 1px #ccc;
	width: 90%;
	padding: 12px;
	margin: 0 auto;
	font-size: 94%;
	color: #333;
	line-height: 20px;
}

.data h3{
	margin: 0 0 3px;
}

.data a {
	text-decoration: none;
	color: #333;
}

